#TopPanel {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  background: rgba(255, 255, 255, .95);
  margin-bottom: 6rem;
  border-bottom: 1px solid #aaa;
}
#logo-img {
  width: 60px;
  height: 56px;
  margin-right: 1.5rem;
}
#TopPanel h1 {
  font: normal 4rem/1 'Pacifico', cursive;
  margin: 0;
  color: orange;
  margin-right: auto;
  text-shadow: 1px 1px 0px #d40;
  white-space:nowrap;
}
#order-price {
  font: bold 3rem/1 'Open Sans', sans-serif;
  margin-right: 5rem;
  color: #c00;
}

#order-button {
  border-radius: 3px;
  padding: 10px 42px;
  font: normal 2rem/1 'Open Sans', sans-serif;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e74c3c;
  border: 0;
  cursor: pointer;
}
#order-button:hover {
  background-color: #E7786D;
}

@media screen and (max-width: 1023px) {
  #TopPanel {
    margin-bottom: 2rem;
  }
  #TopPanel h1 {
    display: none;
  }
  #logo-img {
    margin-right: auto;
  }
}

@media screen and (max-width: 609px) {
  #order-price {
    margin-right: 1rem;
  }
}